@charset "UTF-8";
/* This is a comment! Text here will be ignored by the browser. */
body {
	
	}
a:link {
     color: #000000;
}
a:visited {
     color: #E35F63;
}
a:hover, a:active, a:focus { 
     text-decoration: underline;
}

	margin: 0 auto;
	font: 100%/1.4 Verdana, Arial, Helvetica, sans-serif;
}
.homePage {
	background: #9E8AAB;
}
.container {
	width: 960px;
	margin: 0 auto;
}
.header {
	background: #DEBED4;
	text-align: center;
	margin: 0px;
	padding: 5;
	float: left;
	width: 100%;
	height: 80px;
}
.nav {
	background: #F5C6CF;
	margin: 0px;
	padding: 5;
	float: left;
	width: 100%;
	height: 60px;
	text-align: center;
}
.content {
	background: #EEEEEE;
	margin: 0px;
	float: left;
	width: 100%;
	text-align: center;
}
.footer {
	background: #DEBED4;
	margin: 0px;
	float: left;
	width: 100%;
	height: 50px;
	text-align: center;
	
body {
     font: 100%/1.4 Optima, sans-serif;
     background-color: #FFFFFF;
     margin: 0;
     padding: 0;
     color: #000;
}
